extends layout
include modal

block content
	+modal('confirm', 'Deseja mesmo deletar?')
		p Esta operação não pode ser desfeita
	.row
		.ten.columns
			table.u-full-width
				thead
					tr
						th Nome
						th Tipo
						th Marca
						th Ano
						th Preço
						th Editar
						th Excluir
				if bebidas.length > 0
					tbody
						each bebida in bebidas
							tr
								td
									a(href='/bebidas/' + bebida.id)= bebida.nome
								td= bebida.tipo.nome
								td= bebida.marca
								td= bebida.ano
								td= bebida.preco
								td
									a(href='/bebidas/edit/' + bebida.id) Editar
								td
									a.delete(href='/bebidas/' + bebida.id) Excluir
				else
					h3.error Nenhuma bebida cadastrada D:
		.two.columns
			a.button.button-primary(href='/bebidas/create') Nova Bebida

block javascript
	script.
		$(() => {
			$('.delete').click(function(e) {
				e.preventDefault();
				$.redirect($(this).attr('href'), {
					'_method': 'DELETE'
				});
				//$('#confirm').showModal();
			});
			/*$('.close').click((e) => {
				e.preventDefault();
				$('#confirm').hideModal();
			})*/
		});